/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

/* CSS */

}
/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

/* CSS */

}
/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

/* CSS */

}
/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

/* CSS */

}
/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

/* CSS */

}
/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

/* CSS */
.banner{
width: none;
}
.navbar-light .navbar-toggler {
color: rgb(28 255 232);
border-color: rgb(0 255 90);
}
.nav-item{
background: linear-gradient(to left,#c7ecee,#2196f3);
margin: 5px 0px!important;
}
.col-md-6{
text-align: center;
}
.circle h4{
text-align: center;
}
.circle p{
  margin: auto;
}
.page-title p {
text-align: center;
width: none;
}
.box {
width: 100%!important;
margin: 5px 0px!important;
margin: 10px 0px;
}
.item-box .item{
  margin: 5px 0px;
}
.my-4{
  text-align: center;
}
}